@{
    ViewBag.Title = "ViewAllItems";
     Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@model List<The_Merchant.Models.Item>

<script>
    function updateHide(caller) {
        var myid = $(caller).val();
        $.ajax({
            url: '/Admin/UpdateItem',
            contentType: 'application/html; charset=utf-8',
            data: { id: myid },
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            $('#updatePanel').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        }
        )
        //$('#updateItemPanel').show(500);
    }
    //$('#updateItemPanel').hide();
</script>



<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Items
                </div>

            </div>
            <div class="panel-body">

               
                    <div class="row" align="center">
                        <div class="col-lg-3" align="right">
                            <h5>Item Name :</h5>
                        </div>
                        <form action="/Admin/SearchItem" method="post">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="ItemName" placeholder="Enter Item Name" />
                            </div>

                            <div class="col-lg-2">
                                <input type="submit" class="btn btn-success bg-info" value="Search" required />
                            </div>
                        </form>
                    </div>

             

            </div>

        </div>
    </div>

</div>
<div id="updatePanel">

</div>


<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Searched Items
                </div>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
           
                            <tr>
                                <th>Item_Id</th>
                                <th>Item Name</th>
                                <th>User ID</th>
                                <th>Description</th>
                                <th>Price</th>
                                
                                <th>Quantity</th>
                                <th>Pic</th>
                                <th>Delete</th>
                                <th>Update</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var obj in Model)
{
    <tr>
        <td>@obj.ItemId</td>
        <td>@obj.ItemName</td>
        <td>@obj.UId</td>
        <td>@obj.Description</td>
        <td>@obj.Price</td>
        <td>@obj.Quantity</td>
        <td><img src="~/Content/images/@obj.Path" width="20" height="20" /></td>
        <td>
            <a class="btn btn-danger" href="/Admin/DeleteItem?id=@obj.ItemId">Delete</a>
        </td>
       
        <td>
            <button class="btn btn-primary" id="@obj.ItemId" value="@obj.ItemId" onclick="updateHide($(this))">Update</button>
        </td>
    </tr>

}
                               
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

    </div>
</div>

